{% extends 'base.html' %}

{% block subtitulo %} Outliers Detection {% endblock %}

{% block content%}
<div class="card mb-6" align="center">
  <div class="card-body">
      <h3 class="card-title">Outliers Detection</h3>
      <p align = "justify">
        In this step, we will show a report of the outliers of the data set we are working on. 
        In statistics, outlier is an observation that presents a considerable difference compared to 
        other observations in the data, in some cases this outlier may indicate anomalies in the data 
        resulting from errors in data collection, as at the time of typing an incorrect value is inserted 
        or in other cases these values are captured by a defective sensor, for example in addition to 
        other adverse factors.
      </p>

      <img src="../static/logos/outlier.png" width="300" height="300">
      <br>
      <br>
      

      {% for dict_item, count in elements|zip(range(num)) %}
      
      <div style="border-top: 5px solid black;">
        <br>
        <h3 style="text-align:center" > <strong>Column:</strong> {{dict_item['name']}}</h3>
      </div>

      <div align="center" class="row">
        
        
        <div class="column">
          <img width="400" height="400" src="data:image/png;base64,{{ dict_item['img'] |safe }}"> 
        </div>
        
        <div class="column">
          <br>
          <br>
          <p style="font-size:20px" ><strong>Number of instances:</strong> {{dict_item['elements']}} </p>
          <p style="font-size:20px" ><strong>Percent of outliers:</strong> {{dict_item['percent_outliers']}}%   </p>
          <p style="font-size:20px" ><strong>Total outliers:</strong> {{dict_item['sum_outliers']}}     </p>
        </div>

      </div>
        

      {% endfor %}

      <div style="border-top: 5px solid black;">
        <br>
        <a class="btn btn-dark btn-lg" href="{{ url_for('table_outlier') }}" target="_blank" rel="noopener noreferrer">Table of outliers</a>
      </div>

      
      
      <div class="mt-3">
        <a class="btn btn-dark btn-lg" href="{{ url_for('normalization') }}">Next</a>
      </div>

         
       
  </div>  
</div>
{% endblock %}
