{% extends 'base.html' %}

{% block subtitulo %} Check variables type {% endblock %}

{% block content%}
<div class="card mb-6" >
  <div class="card-body">

      <div style="border-bottom: 2px solid black;">
        <h3 class="card-title" align="center"> Resume Variables</h3>
      </div>
      
      {% if message == "Waiting for choice" %}

      <div>
        <br>
        <p class="card-text" align="justify"> 
          Listed below are the columns of data that can be divided into <strong>Categorical</strong> and <strong>Numeric</strong> variables.
          If you need more information, <a href="https://www.abs.gov.au/websitedbs/a3121120.nsf/home/statistical+language+-+what+are+variables#:~:text=What%20is%20a%20variable%3F,type%20are%20examples%20of%20variables.">click here</a>.  
          <ul>
            <li>
              <strong>Categorical variable</strong> is a variable that can assume a limited and generally fixed number of 
              possible values, assigning each individual or other unit of observation to a particular group or nominal category, 
              based on some qualitative property.
            </li>
            <li>
              <strong>Numeric variables</strong>, we can divide ourselves into <strong>discrete variables</strong> 
              and <strong>continuous variables</strong>. 
              <ul>
                <li>
                  <strong>Discrete variables</strong> are used when a given set of possible results is finite or enumerable, a 
              good example is the number of children, number of students in a school for example.
                </li>
                <li>
                  <strong>Continuous variables</strong> are numerical variables that have an infinite number of values between any two values. 
                  A continuous variable can be numeric or date / time. For example, the length of a piece or the date and time when a payment is received.
                </li>
              </ul>
            </li>
          </ul> 
          
        </p>
        <br>
  
        <img src="../static/logos/variable_statistics.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
        <br>
      </div>
      

      <div style="border-bottom: 2px solid black;"></div>
      <br>

      
      
        <div style="width: 100%; height: auto;">
          <div class="container" style="width: 100%; height: auto; text-align:center;">
            <form action="{{ url_for('check_variables_type') }}" method="POST" enctype=multipart/form-data>
            
              <div style="width: auto; height: auto;" class="container">
                <div class="row">

                  {% if string|count > 0  %}
                  <div class="col" style="padding:0 10px;" >
                    <h4>Categorical variables:</h4>
                    <div style="width: 70%; height: auto; text-align:center;" class="container">
                      <div class="col">
                        {% for column in string %}
                        <div align="left" >
                          <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}">
                          <label class="form-check-label" for="{{column}}">{{column}}</label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if int|count > 0  %}
                  <div class="col">
                    <h4>Discrete variables:</h4>
                    <div style="width: 70%; height: auto; text-align:center;" class="container">
                      <div class="col">
                        {% for column in int %}
                        <div align="left">
                          <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}">
                          <label class="form-check-label" for="{{column}}">{{column}}</label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if float|count > 0  %}
                  <div class="col" style="padding:0 0 0 10px;">
                    <h4>Continuos variables:</h4>
                    <div style="width: 70%; height: auto; text-align:center;" class="container">
                      <div class="col">
                        {% for column in float %}
                        <div align="left">
                          <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}">
                          <label class="form-check-label" for="{{column}}">{{column}}</label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}


              </div>
              <div align="center">
                <br>
                <button type="submit" class="btn  btn-primary">Confirm option</button>
              </div>
            </form>
          </div>
        </div>  
              
        <br/>
        
        <div align="center" class="alert-sm alert-secondary">
          <label>Status: {{message}} </label>
        </div>

    {% else %}
        
        <br>
        <div align="center" class="alert-sm alert-success">
          <label>Status: Sucess</label>
        </div>
            
        <br>
        <div align="center" class="alert-sm alert-info">
          <label> <strong>Removed columns:</strong>  {{list_x}} </label>
        </div>

        
            
        <div class="mt-1" align="center">
          <br>
          <a class="btn btn-dark btn-lg" href="{{ url_for('filter_miss_values') }} ">Next</a>
        </div>
        
        
    {% endif %}
           
       
  </div>
</div>



{% endblock %}
