{% extends 'base.html' %}

{% block subtitulo %} Correlations {% endblock %}

{% block content%}
<div class="card mb-12" >
  <div class="card-body">
    
    <div style="border-bottom: 2px solid black;">
      <h3 align="center"> Correlations </h3>
    </div>

    <p align="justify">
      <br>
      On this page we will talk about correlation, more specifically the 
      correlation coefficients that we have available, which are Pearson's and 
      Spearman's coefficients. What the correlation seeks is to understand how 
      one variable behaves in a scenario where the other is varying. 
      The correlation coefficients help researchers to measure this relationship, 
      they are statistical methods to measure the relationships between variables 
      and what they represent, the correlation coefficient expresses this relationship 
      numerically, that is, it quantifies the relationship between variables.
      <br>
      <br>
      <strong>Pearson's correlation coefficient</strong> measures the degree of linear correlation between two quantitative variables. 
      It has values between -1.0 and 1.0 that reflect the intensity of a linear realization in two 
      sets of data. Note: To use Pearson's coefficient, the data must be continuous and follow a normal 
      distribution, therefore, in Pearson's correlation figure, not all columns of the data set appear.
      <br>
      <br>
      <strong>Spearman's rank correlation coefficient</strong> is a non-parametric correlation measure, which unlike 
      Pearson's correlation coefficient does not require the assumption that the distribution is normal 
      or that the variables are quantitative and can be used for the variables measurements at the ordinal 
      level. The coefficient has the same range as Pearson and varies from -1.0 to 1.0.
      <br>
      <br>
      <strong>Cramér's V</strong> is a measure of association between two nominal variables, 
      giving a value between 0 and +1 (inclusive). It is based on Pearson's chi-squared statistic.
      <br>
      <br>
      <div style="border-bottom: 2px solid black;" align="center">
        <h3>Correlations interval</h3>
        <img src="static/logos/interval.jpg" alt="interval">
        <p align="justify">A correlation coefficient close to zero indicates that there is no relationship 
          between the two variables, and the closer they are to 1 or -1, the stronger the relationship.
          In the figures below, it is worth noting that the scale on the right side has a color scale from 
          dark blue from bottom to top, going through reddish tones to dark red at the top. It is important 
          to note that the scale does not exactly range from -1 to 1, the scale behaves from the smallest 
          value to the largest, which will always be 1, in this case.
        </p>
      </div>
      
    </p>
    <br>
     
        {% if signal_1 == 1 %}
        <div style="border-bottom: 2px solid black;">
          <h3>Pearson's correlation</h3>
          <img src="static/correlations/{{filename}}pearson.jpg" alt="{{filename}}pearson" width="100%" height="100%">
          <br>
          <p> Reference values for consultation</p>
          <ul>
            <li>0.9 more or less indicates a very strong correlation.</li>
            <li>0.7 to 0.9 positive or negative indicates a strong correlation.</li>
            <li>0.5 to 0.7 positive or negative indicates a moderate correlation.</li>
            <li>0.3 to 0.5 positive or negative indicates a weak correlation.</li>
            <li>0 to 0.3 positive or negative indicates a negligible correlation.</li>
          </ul>
        </div>
        {%endif%}
        
        <div style="border-bottom: 2px solid black;">
          <h3 class="mt-3">Spearman's rank correlation</h3>
          <img src="static/correlations/{{filename}}spearman.jpg" alt="{{filename}}spearman"  width="100%" height="100%">
          <br>
          <p class="mt-3"> Reference values for consultation</p>
          <ul>
            <li>0.8 to 1.0 more or less indicates a very strong correlation.</li>
            <li>0.6 to 0.8 positive or negative indicates a strong correlation.</li>
            <li>0.4 to 0.6 positive or negative indicates a moderate correlation.</li>
            <li>0.2 to 0.4 positive or negative indicates a weak correlation.</li>
            <li>0 to 0.2 positive or negative indicates a very weak correlation.</li>
          </ul>
        </div>

        {% if signal_2 == 1 %}
        <div style="border-bottom: 2px solid black;">
          <h3>Cramer's V correlation</h3>
          <img src="static/correlations/{{filename}}cramer.jpg" alt="{{filename}}cramer" width="100%" height="100%">
          <br>
          <p> Reference values for consultation</p>
          <ul>
            <li>0.9 more or less indicates a very strong correlation.</li>
            <li>0.7 to 0.9 positive or negative indicates a strong correlation.</li>
            <li>0.5 to 0.7 positive or negative indicates a moderate correlation.</li>
            <li>0.3 to 0.5 positive or negative indicates a weak correlation.</li>
            <li>0 to 0.3 positive or negative indicates a negligible correlation.</li>
          </ul>
        </div>
        {%endif%}
    

  
    <div class="mt-5" align ="center">
      <!-- <a class="btn btn-dark" href="{{ url_for('distribution_analysis') }} ">Back</a> -->
      <a class="btn btn-dark btn-lg" href="{{ url_for('problem_setup_part_1') }} ">Next</a>
    </div>
    
       
  </div>  
</div>
{% endblock %}

