{% extends 'base.html' %}

{% block subtitulo %} Distribution's analysis part 2{% endblock %}

{% block content%}
<style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid gray;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    visibility: hidden;
    align-content: center;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .externa {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
  }
</style>

<script>
  function myFunction(){
    //
    var y = document.getElementById("myDIV");
    var x = document.getElementById("myDIV2");
    var z = document.getElementsByClassName("externa")
    x.style.visibility = "hidden";
    y.style.visibility = "visible";
    y.style.width =  "120px";
    y.style.height = "120px";
    y.style.marginTop = "30%"
    z.style.visibility = "visible";
    
  }
</script>

<div class="externa">
  <div id="myDIV" class="loader"></div>
</div>

<div  id="myDIV2" class="card mb-6" align="center">
  <div class="card-body">
    
    <div style="border-bottom: 2px solid black;">
      <h3>Distribution analysis</h3>
    </div>

    {% if message == "Waiting for choice" %}
    <div >
      <br>
      <p align="justify">
        On this page, we will show the histograms for each continuous variable in the data set combined with the probability
        density function of the normal distribution and the distribution that the Kolmogorov-Smirnov test returns as the best 
        fit for the respective data. In addition to the Kolmogorov test, we have implemented other tests, below is a list of 
        the tests we have:
        <br/>
        
          <ul style="list-style: none;padding: 0; margin: 0; display: flex; justify-content: space-around;">
            <li text-align:>
              <a href="https://en.wikipedia.org/wiki/Cram%C3%A9r%E2%80%93von_Mises_criterion">Cramér–von Mises test</a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/D%27Agostino%27s_K-squared_test">D'Agostino's K-squared test</a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Lilliefors_test">Lilliefors test</a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Kolmogorov%E2%80%93Smirnov_test">Kolmogorov-Smirnov test</a>
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Shapiro%E2%80%93Wilk_test">Shapiro-Wilk test</a>
            </li>
          </ul>
        
      </p>
      
      {% for dict_item, count in elements|zip(range(num)) %}
        
      
      <div style="border-bottom: 5px solid black;">  
          <h4 class="mt-5">Column: {{dict_item['name'][0:-4]}}</h4>
        {% if dict_item['test'] == 0 %}
          <p>Using the <strong>Cramér–von Mises test</strong>: {{dict_item['von']}}</p>
          <p>Using the <strong>D'Agostino's K-squared test</strong>: Sample looks Gaussian (fail to reject H0)</p>
          <p>Using the <strong>Lilliefors test</strong>: {{dict_item['lillie']}}</p>
          <p>Using the <strong>Shapiro-Wilk test</strong>: {{dict_item['shap']}}</p>
          <p>Using the <strong>Kolmogorov-Smirnov test</strong>, the best fit for this distribution is: {{dict_item['best_fit']}}</p>
        {%else%}
          <p>Using the <strong>Cramér–von Mises test</strong>: {{dict_item['von']}}</p>
          <p>Using the <strong>D'Agostino's K-squared test</strong>: Sample does not look Gaussian (reject H0)</p>
          <p>Using the <strong>Lilliefors test</strong>: {{dict_item['lillie']}}</p>
          <p>Using the <strong>Shapiro-Wilk test</strong>: {{dict_item['shap']}}</p>
          <p>Using the <strong>Kolmogorov-Smirnov test</strong>, the best fit for this distribution is: {{dict_item['best_fit']}}</p>
        {%endif%}
          <img src="{{url_for('static', filename='images/')}}{{dict_item['name']}}" alt="{{dict_item['name']}}">
        <form action="{{ url_for('distribution_analysis_part_2')}}" method="POST" enctype="multipart/form-data">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio{{count}}" id="norm" value="norm">
            <label style="margin: 2%;" class="form-check-label" for="norm">Normal distribution</label>
            <input class="form-check-input" type="radio" name="radio{{count}}" id="{{dict_item['best_fit']}}" value="{{dict_item['best_fit']}}" checked>
            <label style="margin: 2%;" class="form-check-label" for="{{dict_item['best_fit']}}">{{dict_item['best_fit']}} distribution</label>
          </div>  
      </div>
        
      {% endfor %}
    </div>
    <div class="mt-3">
          <h4 class="mt-3">Status: {{message}} </h4>
    </div>
          <div class="mt-2" align="center">
            <button type="submit" class="btn  btn-primary">Confirm option</button>
          </div>
        </form> 
    {% else %}
    <br>
    <div class="mt-3 alert alert-success">
      <h4 class="mt-3">Status: Success </h4>
      <p>
        <strong>Selected distributions:</strong>  {{user_answer}} 
      </p>
    </div>
    <div class="mt-5">
      <br>
      <!-- <a class="btn btn-dark" href="{{ url_for('descriptive_statistics') }}">Back</a> -->
      <a onclick="myFunction()" class="btn btn-dark btn-lg" href="{{ url_for('correlations') }}"  >Next</a>
    </div>
    {% endif %}
  
  </div>  
</div>
{% endblock %}


