{% extends 'base.html' %}

{% block subtitulo %} Feature Selection {% endblock %}

{% block content%}
<div class="card mb-6" align="center">
  <div class="card-body">
    <div style="border-top: 2px solid black;">
      <br>
      <h2 class="card-title">Feature Selection</h2>
    </div>
    {% if message == "Waiting for choice(s)" %} 
      <p>
        In the table below we list the ranking according to each feature selection method for 
        each variable in the dataset.The pre-selected variables are indicated to be chosen according 
        to the heuristic implemented in <strong>Dsadvisor</strong>. Below are some methods used in the table.
      </p>
    
      <div style="width: 100%; height: auto; text-align:center">
        <br>
          <div style="width: 100%; height: auto" class="container">
              <div class="row">
                <div class="col">
                  <ul style="list-style: none;padding: 0; margin: 0; display: flex; justify-content: space-around;">
                    <li> <b>Ch:</b> Chi Squared </li>
                    <li> <b>Ig:</b> Information Gain</li>
                    <li> <b>Mi:</b> Mutual Info</li>
                    <li> <b>F:</b>  F-value </li>
                    <li> <b>GR:</b> Gain Ratio</li>
                    <li> <b>Sum:</b> The sum of all results</li>
                  </ul> 
                </div>
              </div>
            <br>
          </div>
      </div>
      <br>
    
      
      <div class="row">
        <div style="width: 100%; height: auto;">
          <div class="container" style= " width: 95%; height: 100%;">
            <div id="fea">
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%; height: auto; border-bottom: 2px solid black;">
        <div class="container" style= " width: 100%; height: auto;text-align:center;">
          <form action="{{ url_for('feature_selection') }}" method="POST" enctype=multipart/form-data>
            <br>
            <h3>Variables:</h3>
            <p>
              <label class="alert alert-info">
                The variables listed below follow the calculation of the largest sum from the 
                table divided by 2 to define the exclusion threshold. Values below this value 
                will not be marked because no relationship was found between the other variables.
              </label>
            </p>
            
            <div style="width: 100%; height: auto;" class="container">
              {% for column in list_col %}
                <div class="form-check form-check-inline" >
                  <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}" checked>
                  <label class="form-check-label" for="{{column}}">{{column}}</label>
                </div>
              {% endfor %}

              {% for column in variables %}
                <div class="form-check form-check-inline" >
                  <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}" >
                  <label class="form-check-label" for="{{column}}">{{column}}</label>
                </div>
              {% endfor %}
            </div>
            
            <div class="mt-4" align="center" >
              <h5><b>Status:</b> <label class="alert-sm alert-secondary">{{message}}</label></h5>
            </div>      

            <div align="center">
              <button type="submit" class="btn  btn-primary">Confirm option</button>
            </div>
            <br>

          </form>
        </div>     
      </div>   

      

    {% else %}

    <div style="border-bottom: 2px solid black;">
      
      <br>
      <div align="center" >
        <h5><b>Status:</b> <label class="alert-sm alert-success">Sucess</label></h5>
      </div>
          
      <div align="center" >
        <h5><b>Selected columns:</b> <label class="alert-sm alert-info">{{selected_variables}} </label></h5>
      </div>
      {% if type_problem == "Classification"%}
        <div>
          <a class="btn btn-dark btn-lg" href="{{ url_for('resemple_techniques') }}">Next</a>
        </div>
      {%else%}
        <div>
          <a class="btn btn-dark btn-lg" href="{{ url_for('generate_models') }}">Next</a>
        </div>
      {%endif%}
      <br>
      
    </div>

    {%endif%}
    
    <script>
      d3.text("../static/samples/{{filename}}_fs.csv").then(function(datasetText) {
                  var rows  = d3.csvParseRows(datasetText),
                      table = d3.select('#fea').append('table')
                                .style("border-collapse", "collapse")
                                .style("border", "2px black solid");
    
                  // headers
                  table.append("thead").append("tr")
                    .selectAll("th")
                    .data(rows[0])
                    .enter().append("th")
                    .text(function(d) { return d; })
                    .style("border", "1px black solid")
                    .style("padding", "5px")
                    .style("background-color", "lightgray")
                    .style("font-weight", "bold")
                    .style("text-transform", "uppercase");
    
                  // data
                  table.append("tbody")
                    .selectAll("tr").data(rows.slice(1))
                    .enter().append("tr")
                    .selectAll("td")
                    .data(function(d){return d;})
                    .enter().append("td")
                    .style("border", "1px black solid")
                    .style("padding", "5px")
                    .on("mouseover", function(){
                    d3.select(this).style("background-color", "powderblue");
                  })
                    .on("mouseout", function(){
                    d3.select(this).style("background-color", "white");
                  })
                    .text(function(d){return d;})
                    .style("font-size", "12px");
            });
    </script>   

  </div>  
</div>
{% endblock %}


