{% extends 'base.html' %}

{% block subtitulo %} Choose miss values code {% endblock %}

{% block content%}
<style>
.checkboxes label{
      display: block;
      float: left;
      padding-right: 10px;
      white-space: nowrap;
}

.checkboxes input{
  vertical-align: middle;
}

.checkboxes label span{
  vertical-align: middle;
}
</style>


<div class="card mb-6" >
  <div class="card-body">
    <div style="border-bottom: 2px solid black;">
      <h3 class="card-title" align="center"> Select the code for miss values in the dataset</h3>
    </div>
    

    {% if message == "Waiting for choice" %}
    <div>
      <br>
      <p class="card-text"> 
        Below are some known options for labeling missing data in the dataset. Missing data is incomplete 
        or lost information that has a value convention to represent it, as there is a lack of data commonly 
        using is None, we can also have for example the code "Nan" which means "not a number ".
        <br/>
        <br/>
      </p>
    </div>
    
    
    <div style="width: 100%; height: auto;">
      <div class="container" style= " width: 40%; height: 60px;">
        <form action="{{ url_for('filter_miss_values') }}" method="POST" enctype=multipart/form-data>
          
          <div class="checkboxes">
            
            <label class="checkbox" for="nan">
              <input  type="checkbox" name="checkbox" id="nan" value="nan">
              <span>Nan and None</span>
            </label>

          </div>

          <div class="checkboxes">
          
            <label class="checkbox" for="empty">
              <input  type="checkbox" name="checkbox" id="empty" value="empty">
              <span>Empty String</span> 
            </label>
                 
          </div>

          <div class="checkboxes">
            
            
            <label class="checkbox" for="other_code">
              <input onclick="myFunction()" type="checkbox" name="checkbox" id="other_code" value="other_code">  
              <span>Other code</span> 
            </label>
            <input id="myP" style="visibility: hidden;" type="text" name="text123"/>        

          </div>

          <br>
          
          <div align="center">
            <button type="submit" class="btn  btn-primary">Confirm option</button>
          </div>
          
        </form>
      </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <div align="center" class="alert-sm alert-secondary">
      <label>Status: {{message}} </label>
    </div>

    

    {% else %}
    <div class="mt-5" align="center">
        <div align="center" class="alert-sm alert-success">
          <label>Status: Success</label>
        </div>

        <br>

        <div align="center" class="alert-sm alert-info">
          <label><strong>Option selected:</strong> {{miss_code}}</label>
        </div>
        
        <div class="mt-5" align="center">
          <a class="btn btn-dark btn-lg" href="{{ url_for('descriptive_statistics') }} ">Next</a>
        </div>
    </div>
    {% endif %}

    <script>
       function myFunction() {
          var x = document.getElementById('myP');
          if (x.style.visibility === 'hidden') {
            x.style.visibility = 'visible';
          } else {
            x.style.visibility = 'hidden';
          }
        }

        function myFunction2() {
          var x = document.getElementById('myP');
          x.style.visibility = 'hidden';
        }
    </script>
    
  
  </div>  
</div>
{% endblock %}
