{% extends 'base.html' %}

{% block subtitulo %} Home page {% endblock %}

{% block content%}
<div class="card mb-6" >
    <div class="card-body">

      <div style="border-top: 2px solid black;">
        <br>
        <h3 class="card-title" align="center">Welcome to the DSAdvisor !</h3>
      </div>
      
      <div style="border-bottom: 2px solid black;">
        <p class="card-text" align="justify"> <strong>DSAdvisor</strong> is a web tool to guide the user in the data processing steps for the correct pre-processing of the data in order to be used by machine learning models. 
          This entire verification process occurs openly for the user along with tutoring on the concepts covered in each step of the proposed guideline, the tool seeks to bring users closer to the concepts of Machine Learning and Data Mining.</p>

          <div class="col" style="padding:0 0 0 10px;">
            <h4 align ="center">In this guideline, we have the following steps:</h4>
            <div style="width: 70%; height: auto; text-align:center;" class="container">
              <div align="justify">
                <ul style=" margin: 0 auto; display: table;">
                  <li>Upload data (only CSV files so far)</li>
                  <li>Descriptive statistics of the Data Set</li>
                  <li>Outliers Report</li>
                  <li>Normalization</li>
                  <li>Feature Selection</li>
                  <li>Resample Techniques</li>
                  <li>Run Models</li>
                  <li>Select Metrics</li>
                  <li>Results Representation</li>
                  <li>Guarantee Reproducibility</li>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <div align="center">
            <a class="btn btn-dark btn-lg"  href="{{url_for('upload_csv')}}">Let's get start here</a>
          </div>
          <br>
    </div>
  </div>


{% endblock %}