{% extends 'base.html' %}

{% block subtitulo %} Exploratory visualization {% endblock %}

{% block content%}
<div class="card mb-6" align="center">
  <div class="card-body">
      <h3 class="card-title">Exploratory visualization</h3>
      <p align = "justify">
        In this section we will show some plot of the data to 
        continue our exploratory analises. If possible we will
        show some graphics like bar-charts and pie-charts for 
        the user have knowlegde of the data in the current.
      </p>
    
    <div>  
        {% if temp2|count > 0%}
        <h3>Categorical variables</h3>
            {% for dict_item in elements %}
                {% if dict_item['cat_num']|count > 3 %}
                  <p>Variable {{dict_item['temp2']}}</p>
                {% else %}
                  <p>Variable {{dict_item['temp2']}}</p>
                  <img width="500" height="450" src="data:image/png;base64,{{ dict_item['pie'] |safe }}" >
                  <img width="500" height="450" src="data:image/png;base64,{{ dict_item['bar'] |safe }}" >
                {% endif %}
              {% endfor %}        
        {% endif %}
    </div>     

    <div>
        {% if temp1|count > 0%}
        <div style="border-bottom: 5px solid black;"></div>
        <br>
        <h3>Discrete variables</h3>
            {% for i in list_images %}
                <p>Variable</p>
                <img width="700" height="600" src="data:image/png;base64,{{ i |safe }}" >
            {% endfor %}  
        {% endif %}
    </div>

    <div >
      {% if temp1|count == 0 and temp2|count == 0 %}
      <div class="alert alert-info">
        <br>
        <h3>No categorical and discrete variables found</h3>
        <p>Your data set has no categorical or discrete variables. Right on that page we 
           don't have any graphs to show. 
        </p>
      </div>
      {% endif %}
    </div>     
      
      

      
      
    <div class="mt-5">
      <a  class="btn btn-dark btn-lg" href="{{ url_for('distribution_analysis_part_1') }}">Next</a>
    </div>
      
       
  </div>  
</div>
{% endblock %}
