{% extends 'base.html' %}

{% block subtitulo %} Exploratory visualization {% endblock %}

{% block content%}
<div class="card mb-6" align="center">
  <div class="card-body">
      <h3 class="card-title">Exploratory visualization</h3>
      <p align = "justify">
        In this section we will show some plot of the data to 
        continue our exploratory analises. If possible we will
        show some graphics like bar-charts and pie-charts for 
        the user have knowlegde of the data in the current.
      </p>
    
    <div>  
        {% if temp2|count > 0%}
        <h3>Categorical variables</h3>
            {% for dict_item in elements %}
                {% if dict_item['cat_col']|count > 3 %}
                  <p>Variable {{dict_item['temp2']}}</p>
                {% else %}
                  <img width="500" height="400" src="data:image/png;base64,{{ dict_item['pie'] |safe }}" >
                  <!-- <p>[ Variable {{dict_item['temp2']}} ]</p> -->
                  <img width="500" height="400" src="data:image/png;base64,{{ dict_item['bar'] |safe }}" >
                  <p>[ Variable {{dict_item['temp2']}} ]</p>
                  <ul>
                    <li><p>In the pie-chart graph above we have the categories( {{dict_item['cat_col']}} ) of variable <b>{{dict_item['temp2']}}</b>, 
                      where each colored sector represents the percentage for that specific category.</p></li>
                    <li><p>In the bar-chart graph above we have the categories( {{dict_item['cat_col']}} ) of variable <b>{{dict_item['temp2']}}</b>, 
                      where on the y-axis we have the quantity for each category on the x-axis.</p></li>
                  </ul>
                {% endif %}
              {% endfor %}        
        {% endif %}
    </div>     

    <div>
        {% if temp1|count > 0%}
        <div style="border-bottom: 5px solid black;"></div>
        <br>
        <h3>Discrete variables</h3>
            {% for i,t in list_images|zip(temp1) %}
                <img width="650" height="450" src="data:image/png;base64,{{ i |safe }}">
                <p>[ Variable {{t}} ] </p>
                <ul>
                  <li><p>In the graph above we show a histogram for variable {{t}}, where on the y-axis
                    we have the corresponding frequencies for each value on the x-axis.</p></li>
                </ul>
            {% endfor %}  
        {% endif %}
    </div>

    <div >
      {% if temp1|count == 0 and temp2|count == 0 %}
      <div class="alert alert-info">
        <br>
        <h3>No categorical and discrete variables found</h3>
        <p>Your data set has no categorical or discrete variables. Right on that page we 
           don't have any graphs to show. 
        </p>
      </div>
      {% endif %}
    </div>     
      
      

      
      
    <div class="mt-5">
      <a  class="btn btn-dark btn-lg" href="{{ url_for('distribution_analysis_part_1') }}">Next</a>
    </div>
      
       
  </div>  
</div>
{% endblock %}
