{% extends 'base.html' %}

{% block subtitulo %} Problem Setup part 1 {% endblock %}

{% block content%}
<div class="card mb-6" align="center">
  <div class="card-body">
      {% if message == "Waiting for choice" %}
      <h3 class="card-title">Problem Setup part 1</h3>
      <p align="justify"> 
        On this page we will make the selection of the dependent variable, the partitioning of training sets, 
        validation, testing and the selection of the type of problem to be treated. See the instructions and tips given for selecting them.
      </p>


      <div style="border-top: 5px solid black;">
        <br>
        <h4>Select the column that will be the dependent variable:</h4>
        <br>
      </div>

      <p align="justify">
        Now that a brief explanation of the importance of choosing the label has been given,
         try to have the column that is sought to measure. This column could be the target of 
         the prediction model, such as a certain class or a value to be estimated using the other columns.
      </p>
      <br>
      <h4 align="left">Tips to help you choose:</h4>
      <ul align="left">
        <li>if you no longer have in mind which column is a good label is to check if the name of any column is "target", "outcome" or any word that gives an idea of target or return.</li>
        <li>choose the last column of the data, since in many datasets it is standard for the label to come in the last column.</li>
        <li>If you have more than one column that can be the label, choose only one and in the next use of this tool choose another one that was not selected.If you have more than one column that can be the label, choose only one and in the next use of this tool choose another one that was not selected.</li>
      </ul>
      
      
      
      
      <form action="{{ url_for('problem_setup_part_1') }}" method="POST" enctype=multipart/form-data>
        
        {% for column in columns %}
        <div  class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radiobutton" id="{{column}}" value="{{column}}">
          <label style="margin: 1%;" class="form-check-label" for="{{column}}">{{column}}</label>
        </div>
        {% endfor %}

        <br>
        <br>
        <div style="border-top: 5px solid black;">
          <br>
          <h4>Select the proportion of the data set partitioning for the training, validation and test sets:</h4>
        </div>
        
        <br/>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radiobutton2" id="50" value="60">
            <label style="margin: 1%;" class="form-check-label" for="50">50% train - 50% test</label>
            
            <input class="form-check-input" type="radio" name="radiobutton2" id="60" value="60">
            <label style="margin: 1%;" class="form-check-label" for="60">60% train - 40% test</label>
            
            <input class="form-check-input" type="radio" name="radiobutton2" id="70" value="70">
            <label style="margin: 1%;" class="form-check-label" for="70">70% train - 30% test</label>

            <input class="form-check-input" type="radio" name="radiobutton2" id="80" value="80">
            <label style="margin: 1%;" class="form-check-label" for="80">80% train - 20% test</label>
          
        </div>
        
        <br/>
        <br/>

        <div style="border-top: 5px solid black;">
          <br>
          <h4>Select the type of problem being treated:</h4>
        </div>

        <p align = "justify">
          Two types of problems arise repeatedly in traditional data science and pattern recognition applications, 
          the challenges of classification and regression. 
        </p>
        <ul align = "justify">
          <li><strong>Classification:</strong> Often we seek to assign a label to an item from a discrete
            set of possibilities. Such problems as predicting the winner of a particular
            sporting contest (team A or team B?) or deciding the genre of a given
            movie (comedy, drama, or animation?) are classification problems, since
            each entail selecting a label from the possible choices.</li>
            <br>
          <li><strong>Regression:</strong> Another common task is to forecast a given numerical quan-
            tity. Predicting a person’s weight or how much snow we will get this year
            is a regression problem, where we forecast the future value of a numerical
            function in terms of previous values and other relevant features.</li>
        </ul>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radiobutton3" id="Classification" value="Classification">
          <label style="margin: 4%;" class="form-check-label" for="Classification">Classification</label>
          <input class="form-check-input" type="radio" name="radiobutton3" id="Regression" value="Regression">
          <label style="margin: 4%;" class="form-check-label" for="Regression">Regression</label>
        </div>
        
        <div style="border-top: 5px solid black;" class="mt-3">
          <br>
          <button type="submit" class="btn  btn-primary">Confirm Option</button>
        </div>
        

      </form>

      <div class="mt-3">
        <h4 class="mt-3">Status: {{message}} </h4>
        <br>
      </div>
      
      {% else %}
      <div class="mt-3">
            <h4 class="alert alert-success" >Status: Success  </h4>
            <br>
            
            <div class="alert alert-success" style="border-top: 5px solid black; border-bottom: 5px solid black;">
              <br>
              <p>Please note that the column <strong>"{{user_answer}}"</strong> will be removed from the dataset. </p>
              {% if train_percent == 50 %}
                The proportion of the data set partitioning choiced: <strong> 50% train - 50% test</strong>
              {% endif %}
              {% if train_percent == 60 %}
                The proportion of the data set partitioning choiced: <strong> 60% train - 40% test.</strong>
              {%endif%}
              {% if train_percent == 70 %}
                The proportion of the data set partitioning choiced: <strong> 70% train - 30% test. </strong> 
              {%endif%}
              {% if train_percent == 80 %}
                The proportion of the data set partitioning choiced: <strong> 80% train - 20% test. </strong> 
              {%endif%}
              <br>
              <br>
              <p>The type of problem choiced to be treated: <strong>{{user_answer2}}.</strong> </p>
            </div>
            
            <div class="mt-5">
              <!-- <a class="btn btn-dark" href="{{ url_for('correlations') }}">Back</a> -->
              <a class="btn btn-dark btn-lg" href="{{ url_for('outlier_report') }}">Next</a>
            </div>

      </div>
      {% endif %}
      
      
       
       
  </div>  
</div>
{% endblock %}
