{% extends 'base.html' %}

{% block subtitulo %} Filter columns {% endblock %}

{% block content%}
<div class="card mb-6" >
  <div class="card-body">
    
    <div style="border-bottom: 2px solid black;">
      <h3 align="center"> Do you wanna remove any column ?</h3>
    </div>
    
    <br>

    {% if message == "Waiting for choice" %}
      
        <div style="width: 100%; height: auto;">
          <div class="container" style="width: 100%; height: auto; text-align:center;">
            <form action="{{ url_for('remove_columns') }}" method="POST" enctype=multipart/form-data>
            
              <div style="width: 70%; height: auto;" class="container">
                <div class="row">
                  {% if string|count > 0  %}
                  <div class="col">
                    <h4>Categorical variables:</h4>
                    <div style="width: 10%; height: auto; text-align:center;" class="container">
                      <div class="col">
                        {% for column in string %}
                        <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}">
                        <label class="form-check-label" for="{{column}}">{{column}}</label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if int|count > 0  %}
                  <div class="col">
                    <h4>Discrete variables:</h4>
                    <div style="width: 10%; height: auto; text-align:center;" class="container">
                      <div class="col">
                        {% for column in int %}
                        <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}">
                        <label class="form-check-label" for="{{column}}">{{column}}</label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if float|count > 0  %}
                  <div class="col">
                    <h4>Continuos variables:</h4>
                    <div style="width: 10%; height: auto; text-align:center;" class="container">
                      <div class="col">
                        {% for column in float %}
                        <input class="form-check-input" type="checkbox" name="checkbox" id="{{column}}" value="{{column}}">
                        <label class="form-check-label" for="{{column}}">{{column}}</label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% endif %}


              </div>
              <div align="center">
                <br>
                <button type="submit" class="btn  btn-primary">Confirm option</button>
              </div>
            </form>
          </div>
        </div>  
              
        <br/>
        
        <div align="center">
          <br>
          <h4>Status: {{message}} </h4>
          <br>  
        </div>   

    {% else %}
        <div align="center">
          <br>
          <div class="alert alert-success">
            <h4 >Status: Success</h4>
            <p><strong>Removed columns:</strong>  {{list_x}} </p>
          </div>
              
          <br>
        </div>  
            
        <div class="mt-1" align="center">
          <br>
          <a class="btn btn-dark btn-lg" href="{{ url_for('filter_miss_values') }} ">Next</a>
        </div>
        
      </div>    
    {% endif %}
     
  </div>
</div>

{% endblock %}
