{% extends 'base.html' %}

{% block subtitulo %} Guarantee Reproducibility {% endblock %}

{% block content%}
<div class="card mb-12" >
  <div class="card-body" align="center">
    
    <div style="border-top: 2px solid black;border-bottom: 2px solid black">
      <br>
      <h2> Guarantee Reproducibility </h2>

      <div class="container" >
        <br>
       <b>To get all choices made all over this tool.</b> 
        <br>
        <a href="/return_files_choices/" target="blank"><button class='btn btn-default'>->Download AllConfigurations.txt</button></a>
      </div>

      <br>
      <div class="container">
        <b>To get the training dataset.</b>
        <br>
        <a href="/return_files_train/" target="blank"><button class='btn btn-default'>-> Download train_data.csv</button></a>
       </div>
       
       <br>
       <div class="container">
          <b>To get the test dataset.</b>
          <br>
          <a href="/return_files_test/" target="blank"><button class='btn btn-default'>-> Download test_data.csv</button></a>
       </div>
       <br>

    </div>
        
  </div>  
</div>
{% endblock %}

