{% extends 'base.html' %}

{% block subtitulo %} Guarantee Reproducibility {% endblock %}

{% block content%}
<div class="card mb-12" >
  <div class="card-body">
    
    <div style="border-bottom: 2px solid black;">
      <h3 align="center"> Guarantee Reproducibility </h3>
      <br>
      <div class="container">
        <a href="/return_files_train/" target="blank"><button class='btn btn-default'>Download Train Dataset</button></a>
       </div>
       <br>
       <div class="container">
            <a href="/return_files_test/" target="blank"><button class='btn btn-default'>Download Test Dataset</button></a>
       </div>
    </div>
    <!-- one file for the dict file -->
        
  </div>  
</div>
{% endblock %}

